@import "reset.scss";
@import "vars.scss";
/*
********************************
********* BASIC STYLES *********
********************************
*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
  color: $a-color;
}
img {
  width: 100%;
}
/*
********************************
************ CUSTOM ************
********************************
*/
@import "utils.scss";
@import "buttons.scss";
@import "slider.scss";

@import "sections/header.scss";
@import "sections/areas.scss";
@import "sections/products.scss";
@import "sections/footer.scss";
